/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
html {
    scroll-behavior: smooth;
}
/* Desktop */
header {
    width: 100%;
    border-bottom: 1px solid;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.logo {
    height: 100%;
    width: 50px;
}

.menu {
    display: flex;
}

.menu-item {
    border: 1px solid;
    padding: 4px 10px;
    border-radius: 5px;
    background-color: maroon;
    color: beige;
    text-decoration: none;
}


/* Content */
main {
    margin-bottom: 20px;
}
.hero-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    row-gap: 40px;
}

.hero-title > h1 {
    font-size: 50px;
    font-weight: 700;
}

.hero-title > h4 {
    font-size: 20px;
}

.about {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 10px;
    
}

.about-contact {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.about-img {
    height: 400px;
    width: 80%;
}

.content-action > p {
    font-style: italic;
    color: gray;
    margin-bottom: 20px;
}

.content-person {
    display: flex;
    gap: 20px;
    align-items: center;
}

.content-person > img {
    border-radius: 50%;
}

.person-info {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.person-info > p{
    font-style: italic;
    color: gray;
    margin-top: 10px;
}

.line {
    border: 2px solid gray;
    width: 120px;
}

.about-information {
    margin-bottom: 50px;
}

.information-title{
    font-size: 16px;
    margin-bottom: 20px;
}

.information-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.information-list > li {
    display: flex;
    align-items: center;
    gap: 15px;
}

.list-number {
    background-color: gray;
    color: white;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 25px;
}

.list-paragraf-info {
    color: gray;
}

.contact {
    width: 40%;
}

/* Card About */
.contact-card {
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 40px;
    background-color: maroon;
    color: beige;
    margin-top: 10px;
    margin-bottom: 10px;

}

.card-title > h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input > label {
    font-weight: 600;
}

.input > input {
    border-color: gray;
    height: 20px;
    border-radius: 5px;
    padding: 10px;
    color: gray;
}

.input > select {
    padding: 12px 10px;
    border-radius: 5px;
    border-color: gray;
    color: gray;
}

form > input {
    padding: 12px 10px;
    border-radius: 5px;
    border-color: bisque;
    background-color: bisque;
    color: maroon;
    font-weight: 800;
    margin-top: 20px;
}

/* Our Package */
.package-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: 50px;
    font-weight: 600;
    background-color: maroon;
    color: beige;
}

.package {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.package-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.list-package > li {
    display: flex;
    align-items: baseline;
    gap: 15px;
}

.list-icon {
    background-color: maroon;
    color: beige;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 25px;
}

.list-paragraf {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    
}

.list-paragraf > h5 {
    font-size: 20px;
    font-weight: 600;
}

#call-us {
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.package-closing {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
}

.package-closing > h1 {
    font-weight: 600;
    font-size: 50px;
}

.call {
    padding: 15px 50px;
    background-color: maroon;
    border-color: maroon;
    border-radius: 10px;
}

.call > a {
    color: beige;
    text-decoration: none;
    font-weight: 600;
}
/* Footer */
.footer-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 20px;
    color: maroon;
}

.footer-content > div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
